html body {
    background-color: #212529;
    color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

#home {
    margin-top: 5em;
    /* min-height: 100vh; */
    scroll-margin-top: 10em;
}


