html body {
    background-color: #212529;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

#main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; 
}

#home {
    margin-top: 5em;
    scroll-margin-top: 15em;
}

#about,
#experience,
#projects,
#contact {
    scroll-margin-top: 4em;
}

.project-image {
    max-width: 80%;
    height: auto;
    cursor: pointer;
  }

.project-caption {
   opacity: 85%;
}

a {
    text-decoration: none;
  }

/* Experience Section */
.centered-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* Contact Me */
.custom-form-bg input,
.custom-form-bg textarea {
    background-color: #212529;
}

.custom-form-bg input::placeholder,
.custom-form-bg textarea::placeholder {
    color: #6c757d;
}

/* Media-Query */
@media (max-width: 600px) {
    .fixed-height-col {
        max-height: 250px;
        overflow-y: auto;
    }
}

@media (max-width: 450px) {
    footer {
        padding: 10px 10px 0 10px;
        font-size: 0.8em
    }
}