body {
    margin: 0;
    padding: 0;
    background-color: #333533;
    font-family: 'Raleway', sans-serif;
}

body * {
    margin: 0;
}

#main-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.profile-pic {
    filter: drop-shadow(15px 15px 10px black)
}

#home,
#about-experience {
    min-height: 100vh;
    scroll-margin-top: 2em;
}

#work {
    scroll-margin-top: 3em;
}

#home,
#contact {
    margin-top: 2em;
}

a {
    text-decoration: none;
}

/* Experience Section */
.centered-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

/* Work Section */
.project-image {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    object-position: center top;
    overflow-y: hidden;
}

.project-image:hover {
    cursor: pointer;
    opacity: 50%;
}

.accordion-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accordion {
    --bs-accordion-btn-bg: #555555;
    --bs-accordion-active-bg: #555555;
    --bs-accordion-btn-focus-box-shadow: none;
}

.accordion-button::not(.collapsed) {
    box-shadow: none;
}

/* Media-Query */
@media (max-width: 600px) {
    .fixed-height-col {
        max-height: 350px;
        overflow-y: auto;
    }

    .project-image {
        height: 20vh;
        object-position: center top;
        overflow-y: hidden;
    }
}

@media (max-width: 450px) {
    footer {
        font-size: 0.8em
    }

    #about-experience {
        scroll-margin-top: 4em;
    }
}